@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*
font-family: 'Libre Franklin', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Varela Round', sans-serif;

*/

*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    height:100vh; width:100vw;
    background-color: rgb(209 210 221);
}

#header_div{
    height:10%; width:100%;
    display:flex; flex-direction: row; justify-content: right;
    background-color: rgb(84 203 189);
}

#info_div{
    padding: 0 0 0 3%;
    height:100%; width:17%;
    display:flex; flex-direction: column; justify-content: center;
    background-color: rgb(76, 173, 162);
}

.infos{
    color:  aliceblue;
    font-size: 18px; font-family: 'Libre Franklin', sans-serif;
}

#outer_clicker_div {
    display:flex; flex-direction: column; align-items: center;
    height:40%; width:100%;
}

#img_div{
    display: flex; flex-direction: column; align-items: center;
    height:90%; width:25%;
}

#clicker_img{
    height:100%; width: 100%;
}

#save_button_div{
    display: flex; flex-direction: column; align-items: center;
    height:10%; width:25%;
}

.btn{
    height:48px; width: 256px;
}

#shop_div{
    display:flex; justify-content: center; align-items: center; flex-direction: column;
    height: 30%; width:100%;
    background-color: brown;
}

.item{
    outline:none; border:none;
    height:45%; width:45%;
}

#shop_above{
    display:flex; justify-content: center; align-items: center; flex-direction: row;
    height:50%; width:100%;
}

#shop_under{
    display:flex; justify-content: center; align-items: center; flex-direction: row;
    height:50%; width:100%;
}